
.menuContainer{
    display:flex;
    flex-direction:row;
    padding-top:70px;
}
.categoryPrice{
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    /*width:20vw;*/
    align-items:center;
    padding:10px;
    min-height:100vh;
    background-color:bisque
    
}
.eachCategory{
    border:2px solid red;
   min-width:100px;
    list-style-type:none;
    margin:3px;
    border-radius:5px;
    text-align:center;
    padding:5px;
    
}
.showcategories{
    display:flex;
    flex-direction:row;
    width:20vw;
    flex-wrap:wrap;
    cursor:pointer;
    margin-top:0;
    margin-bottom:20px;
}
.selectedcategory{
    background-color:cornflowerblue;
    color:white;
    cursor:pointer;
    width:70px;
    list-style-type:none;
    margin:3px;
    border-radius:5px;
    text-align:center;
    
}
.range{
    font-size:14px;
    text-align:center;
}
.heading{
    color:darkred;
    margin:20px;
    text-align:center;
}
.inputrange{
    margin-top:15px;
}
.bold{
    font-weight:600;
}
.showAllItems{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    margin-top:20px;
}
.itemUnavailable{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    background-color:wheat;
    border:2px solid red;
    height:100vh;
    width:80vw;
    color:red;
}

@media screen and (max-width:768px){
    .itemUnavailable{
        font-size:20px;
    }
    .eachCategory{
        padding:5px;
        margin-left:0px;
    }
}