.navbarimage{
    height:70px;
    width:170px;
    border:2px solid white;
}
.NavbarContainer{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    background-color:burlywood;
    height:80px;
    padding:10px;
    width:100%;
    position:fixed;
    cursor:pointer;
}
.navbarlist{
    display:flex;
    flex-direction:row;
}
.eachlist{
    list-style-type:none;
    margin:10px;
    color:brown;
    text-decoration:none;
}
.eachlist:hover{
    color:crimson;
    text-decoration:underline;
}
.Logoutbutton{
    background-color:brown;
    color:white;
    border:2px solid white;
    border-radius:10px;
    height:40px;
    width:80px;
    margin-right:40px;
}
.navbarinsmalldevices{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    z-index:10;
}
.listitemsinsmalldevices{
    color:brown;
    list-style-type:none;
    margin-right:40px;
    font-size:2em

}

.showsidebar{
    display:flex;
    flex-direction:column;
    align-self:flex-end;
    background-color:brown;
    height:100vh;
    width:200px;
    margin-left:auto;
    padding:10px;
    color:white;
    position: fixed; 
    top: 60px; 
    right: 0;  
    padding-top:60px;
    margin-top:20px;
    }
    .icon{
        font-size:2em;
        cursor:pointer;
    }
.sidebartabs{
    font-size:34px;
    align-items:center;
    margin:20px;
    list-style-type:none;
}
@media screen and (max-width:700px){
    .navbarlist{
        display:none;
    }
    .Logoutbutton{
        display:none
    }
}

@media screen and (min-width:701px){
    .navbarinsmalldevices{
        display:none
    }
    .showsidebar{
        display:none;
    }
}